<% include ../partials/header.ejs%>

<h1>Editar Pessoa</h1>
<p><a href="/pessoas">Voltar para a Lista de Pessoas</a></p>

<form method="post">
    <div class="form-group">
        <label for="nome"> Nome </label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome" value="<%= pessoa.nome %>">
    </div>

    <div class="form-group">
        <label for="nascimento"> Nascimento </label>
        <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="Informe o nascimento" value="<%= pessoa.nascimento %>">
    </div>

    <div class="form-group">
        <label for="cargo"> Cargo </label>
        <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Informe o cargo" value="<%= pessoa.cargo %>">
    </div>

    <button type="submit" class="btn btn-default">Salvar</button>

</form>

<% include ../partials/footer.ejs%>